<div class="todos_container">
  <h2 span style="color: #81F79F"> Add Movie </h2>
  </br>

  <form action ="/movies" method ="post">

      <input type ="text" name ="title" placeholder ="Title" autofocus maxlength="30">
   </br>
      <input type ="text" name ="description" placeholder ="Description">
   </br>

  <button class="pure-button pure-button-primary">Add</button>
  </form>

</div>

