<form action='/create_todo' method='post'>
<input type="text" name="task"><br>
<input type="text" name="task_description"><br>
<button>Add Task</button>




<!-- This is where I'll put the options menus -->