<div class="todos_container">
  <h2 span style="font-size: 35px; color: #81F79F">Edit Task</h2>
  <form action = "/todos/<%=@todo['id']%>" method = "post">

    <input type = "text" name = "task" value = "<%= @todo['task'] %>">
  </br>
    <input type = "text" name = "details" value = "<%= @todo['details'] %>">
  </br>
    <input type = "text" name = "due" value = "<%= @todo['due'] %>">
  </br>

  </form>
</div>
