<form action='/edit_movie/:id' method='post'>
Change the movie name.. Can you do that?:
<input type="text" name="movie_name"><br>
Change the release date:
<input type="text" name="release_date"><br>
Change the Director:
<input type="text" name="director">
<button>Edit the Movie</button>
</form>