<form action="/contacts/<%= @contact["id"]%>/edit" method="POST">
  <label for "name">Name:</label><br>
  <input type="text" name="name" value="<%= @contact["name"]%>"><br><br>
  <button>Edit Contact</button>
</form>