<div class="index_content">
  <h1>HEY!</h1>
  <p>You've got things to do!</p>
  <p>Movies to make!</p>
  <p>People to see!</p>
  <p span style="font-size: 40px; color: #A9F5A9; text-shadow: 3px 3px 5px #2E2E2E;">GET TO IT</p>
</div>
