<!DOCTYPE html>

<html>
  <head>
    <title>Movie Produciton Todo App</title>
    <link rel='stylesheet' href='css/style.css'>
  </head>

  <body>
    <header>
      Here's a logo
      Navigation: <a href="/">Home</a> | Navigation 2 | Navigation 3
    </header>

    <%= yield %>

    <br><br><br><br>
    <footer>
      Here's a footer
    </footer>
  </body>
</html>
