
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie Production App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="index">
    <%= yield %>
  </div>
  </body>
</html>
