<html>
<header>
  <title>Production Manager</title>
  <link rel='stylesheet' href="css/style.css">
</header>
<body>
<%= yield %>
<footer class="bottom">
  <a href="/">Return to Index</a> |
  <a href="/tasks">View Tasks</a> |
  <a href="/movies">View Movies</a> |
  <a href="/contacts">View Contacts</a>

</footer>
</body>
</html>