<!DOCTYPE html>
<html>
<head>
  <title>Movie Production Tasks</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%= yield %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<p><a href="/new_person">Add a New Person</a></p>
<p><a href="/new_movie">Add a New Movie</a></p>
<p><a href="/new_task">Add a New Task</a></p>
<p><a href="/">Return to Index</a></p>

</body>
</html>