<!DOCTYPE html>
<html>
<head>
  <title>Movie Production Tasks</title>
</head>
<body>
  <%= yield %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<form action="/new_person" method="get">
      <button>Add a new person</button>
  </form></br>
  <form action="/new_movie" method="get">
      <button>Add a new movie</button>
  </form></br>
  <form action="/new_task" method="get">
      <button>Add a new task</button>
  </form></br>
  <form action="/" method="get">
      <button>Return to index</button>
  </form>
</body>
</html>