<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
  </head>
  <body>
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/todos">To Do</a></li>
      <li><a href="/people">People</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/todos/new">New Task</a></li>
    </ul>
  </div>
  <%= yield %>
  </body>

</html>
