<% @movie.each do |movie| %>
  Title: <%= movie['title'] %><br/>
  Release Date: <%= movie['release_date'] %><br/>
  Director: <%= movie['director'] %>
  <form action="/delete/movies/<%= movie['id'] %>" method="post">
    <button>Delete</button>
  </form>
<% end %>
<br/>
<br/>
<a href="/movies">Back to Movies</a>