<h1>Movies</h1>
<% @movies.each do |movie| %>
<p>Name: <%= movie["name"] %></p>
<p>Release Date: <%= movie["release_date"] %></p>
<p>Director: <%= movie["director"] %></p><br>
<% end %>
<a href="/movies/new">Add a new movie</a>