<div class="todos_container">
  <h2 span style="color: #FFB240">Short Description</h2>
  <p></br>
   <%= @movie['title'] %>
  </p>

  <p>|-  <%= @movie['description'] %>  -|</p>

</br>
</br>
  <a class="pure-button" href="/movies/<%=@movie['id']%>/edit">
    Edit
  </a>
</button>

  <a class="pure-button" href="/movies/<%=@movie['id']%>/delete">
    Delete
  </a>
</button>
</div>
