<h1>Movies</h1>

<% @movies.each do |movie| %>
  <li>
    <a href="/movies/<%= movie['id'] %>">
      <%= movie['movie_name'] %>
    </a>
  </li>
<% end %>

<br/>
<form action="/movies/new">
  <button>Add New</button>
</form>
<br/>






