<form action="/movies/new" method="POST">
  Name: <input type="text" name="name">
  Release Date: <input type="text" placeholder="YYYY-MM-DD" name="date">
  Director: <input type="text" name="director">
  <button>Add Movie</button>
</form>

<p><a href="/people"><button>Add New Movie</button></a></p>

