<form action = "/tasks/new" method = "post">
  <input type="text" name="name" /><br />
  <input type="text" name="description" /><br />
  <input type="text" name="person_id" /><br />
  <input type="text" name="movie_id" /><br />
  <button>Add New Task</button>
</form>