<h1>New Task</h1>

<form action="/todos/new" method="POST">
  <input type="text" placeholder="task" name="task_name"><br>
  <input type="text" placeholder="description" name="description"><br>

 Movie:
  <select name="movie_id">
    <% @movies.each do |movie| %>
      <option value="<%= movie["id"] %>">
        <%= movie["movie_name"] %>
      </option>
    <% end %>
  </select><br>

  <button>Add New Task</button>
</form>