<div class="wrapper well form">
  <form action="/new_movie" method="post">
    <p>Movie:</p> <input type="text" name="name" placeholder="Movie Name" autofocus><br>
    <button class="btn btn-primary">Add New Movie</button>
  </form>
</div>