<form action="/movies/new" method="POST">
  <input type="text" name="name">
  <input type="date" name="release_date">
  <input type="director" name="director">
  <button>Create New Movie</button>
</form>