<div class="todos_container">
  <h2 span style="color: #81F79F"> Add Person </h2>
  </br>

  <form action ="/people" method ="post">

      <input type ="text" name ="name" placeholder ="Name" autofocus>
   </br>
      <input type ="text" name ="email" placeholder ="Email">
   </br>

  <button class="pure-button pure-button-primary">Add</button>
  </form>

</div>

