<h1>Add a new movie</h1>
<form action = "/movies/new" method = "post">
  <input type="text" name="name" /><br />
  <input type="text" name="title" /><br />
  <input type="text" name="release_date" /><br />
  <input type="text" name="director" /><br />
  <button>Add New Movie</button>
</form>