<h1>Add a new movie</h1>
<form action = "/movies/new" method = "post">
  Name:<br /> <input type="text" name="name" /><br />
  Release Date:<br /> <input type="text" name="release_date" /><br />
  Director:<br /> <input type="text" name="director" /><br />
  <button>Add New Movie</button>
</form>