<h1>Add New Person</h1>

<form action="/people/new" method="POST">
  <input type="text" placeholder="person" name="Person">
  <input type="text" placeholder="movie id" name="movie_id">
  <input type="text" placeholder="task_id" name="task_id">
  <button>Add New Person</button>
</form>