<form action="/new_movie" method="post">
  <input type="text" name="name" placeholder="Movie Name" autofocus>
  <input type="text" name="releasedate" placeholder="Release Date">
  <input type="text" name="director" placeholder="Director">
  <input type="text" name="image" placeholder="Image">
  <button>Create New Movie</button>
</form>