<h1>Add a new person</h1>

<form action = "/people/new" method = "post">
  Name: <br /><input type="text" name="name" /><br />
  Title:<br /><input type="text" name="title" /><br />
  <button>Add New Person</button>
</form>