<div class="todos_container">
  <h2 span style="color: #81F79F"> Add Task </h2>
</br>
  <form action = "/todos" method = "post">
    <input type = "text" name = "task" placeholder = "Task">
</br>
    <input type = "text" name = "details" placeholder = "Task Details">
</br>
    <input type = "text" name = "due" placeholder = "Due">
</br>
  </form>
</div>
