<form action="/movies/new" method="POST">
  <label for "name">Movie:</label><br>
  <input type="text" name="name"><br><br>
  <label for "release_date">Release Date:</label><br>
  <input type="date" name="release_date"><br><br>
  <label for "director">Director:</label><br>
  <input type="director" name="director"><br><br>
  <button>Create New Movie</button>
</form>