<h1>Add New Movie</h1>

<form action="/movies/new" method="POST">
  <input type="text" placeholder="movie name" name="movie_name"><br>
  <input type="text" placeholder="release date" name="release"><br>
  <input type="text" placeholder="director" name="director"><br>
  <button>Add New Movie</button>
</form>