<div class="row-fluid wrapper well">
  <h3 class="people_page_title">this is the staff team who takes care of movie tasks ...</h3>
  <% @people.each do |person| %>
    <div class="avatar">
      <div class="person_image">
        <img src="<%= person['image'] %>" />
      </div>
      <div class="person_name">
        <%= person['name'] %>
      </div>
    </div>
  <% end %>
</div>