<h1>People</h1>

<ul>
<% @people.each do |person| %>
  <li>
    <a href="/people/<%= person['id'] %>/edit">
      <%= person['person'] %>
    </a>
  </li>
<% end %>
</ul>

<br>
<form action="/people/new">
  <button>Add New</button>
</form>