<form action = "/people/<%= @person['id'] %>/edit" method = "post">
  <input type="text" name="name" value= "<%= @person['name'] %>" /><br />
  <input type="text" name="title" value= "<%= @person['title'] %>"  /><br />
  <button>Edit This Person</button>
</form>