<% @person.each do |person| %>
  Name: <%= person['name'] %><br/>
  Movie: <%= person['movie'] %><br/>
  Task: <%= person['task'] %>
  <form action="/delete/people/<%= person['id'] %>" method="post">
    <button>Delete</button>
  </form>
<% end %>
<br/>
<br/>
<a href="/people">Back to People</a>