<h1>Tasks</h1>
<% @tasks.each do |task| %>
<p>Task Name: <%= task["name"] %></p>
<p>Task Description: <%= task["descriptions"] %></p>
<p>Associated Movie: <%= task["movie_id"] %></p>
<p>Associated Contact: <%= task["contact_id"] %></p><br>
<% end %>

<a href="/tasks/new">Add a new task</a>
