<!--- From todo app -->
<div class="todos_container">
  <h2 span style="font-size: 35px; color: #81F79F"">Tasks</h2>
    <%@todos.each do |todo|%>
      <p></br>
        <a href = '/todos/<%=todo["id"]%>'><%=todo["task"]%></a>
          <p span style="font-size: 15px; padding-top: -10px;">Due: <%=todo["due"]%></p>
      </p>
    <% end %>
  </br>
    <a class="pure-button" href="/todos/new">New Task</a></button>
</div>
