<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <li>
    <a href="/todos/<%= task['id'] %>/edit">
      <%= task['task_name'] %>
    </a>
  </li>
<% end %>

<br>
<form action="/todos/new">
  <button>Add New</button>
</form>