<% @task.each do |todo| %>
  Task: <%= todo['name'] %><br/>
  Description: <%= todo['description'] %><br/>
  Movie: <%= todo['movie_id'] %><br/>
  Person: <%= todo['person_id'] %>
<% end %>
<br/>
<br/>
<a href="/todos">Back to Tasks</a>