<h1>Add Task</h1>
<form action="/todo/new" method="POST">
Task: <input type="text" name="task">
Description: <input type="text" name="description">

Assign to:
<select name="person_id">
  <% @people.each do |people| %>
  <option value="<%= people["id"] %>">
    <%= people["person_name"] %>
</option>
<% end %>
</select>

For Movie:
<select name="movie_id">
  <% @movies.each do |movie| %>
  <option value="<%= movie["id"] %>">
    <%= movie["title"] %>
</option>
<% end %>
</select></br>

<button>Add Task</button></br>
</form>