
<div class="todos_container">
  <h2 span style="color: #81F79F">Details</h2>
  <p>"<%= @todo['task'] %>"</p>
  <p>| <%= @todo['details'] %> |</p>
  <p> Assigned to :</br>
    <%=@person["name"] %>
  </p>
  <p> Movie:</br>
    <%=@movie["title"] %>
  </p>
</div>
