/*
Light Grey #f5f5f0
Medium Grey #e6e6e6
Grey #a6a6b0
Khaki #edddc0
Red #b00c3d
Orangish Red #d9474c

*/

/* Universal */

html, body{
  background-color: #a6a6b0;
  font-family: 'Advent Pro', sans-serif;
}

header a{
  color: #fff;
  &:hover { color: #f5f5f0;  text-decoration: none; }
}

footer {
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 0.9em;
}

.breadcrumb {
  background-color: #e6e6e6;
}

.wrapper {
  background-color: #fff;
  width: 95.5%;
  padding-top: 30px;
}

.headtitle {
  color: #b00c3d;
}

.form p {
  font-size: 1.6em;
  margin-top: 16px;
}

.form button {
  margin-top: 20px;
}

.admin {
  float: right;
}

/* Form */
input[type=text] {
  height: 40px;
  width: 300px;
}

/* People */

.people_page_title {
  margin-left: 16px;
}

.avatar {
  width: 25%;
  float: left;
  .person_image {
    padding: 0 0 0 14px;
    img {
      width: 90%;
      border: 2px solid #3D6785;
    }
  }
  .person_name {
    text-align: center;
    padding: 10px 0 20px 0;
    color: #d9474c;
  }
}

/* Movie */

.movielist {
  width: 25%;
  float: left;
  .movies_image img {
    width: auto;
    max-height: 280px;
    border: 2px solid #3D6785;
  }
  .movies_name {
    text-align: center;
    padding: 10px 0 20px 0;
    .movies_title {
      font-size: 1.2em;
      color: #d9474c;
      line-height: 1.2em;
    }
  }
}

/* Ind Movie Page */

.movie_content {
  width: 66%;
  padding-left: 280px;
}

.movie_image img {
  height: 360px;
  width: auto;
}