body {
  background: rgb(250,235,215);
}

h1 {
  text-align: center;
  color: rgb(112,128,144);
  background-color: rgb(218,165,32);
  font-style: Arial;
}

p {
  text-align: center;
  color: rgb(112,128,144);
  font-style: Arial;
  background-color: rgb(189,183,107);
}

form {
  text-align: center;
}

.lists {
  background-color: rgb(189,183,107);
}